require File.expand_path('../spec_helper.rb', __FILE__)

describe "The <%= name.camelize %> application setup" do
  it "should successfully load the '/' root page" do
    get '/'
    last_response.status.should == 200
    last_response.body.should include('Hello world')
  end

end
